.xy-button{
    width: 2.71rem;
    height: 0.6rem;
    background: #7B61C5;
    border-radius: 0.38rem;
    font-size: 0.2rem;
    line-height: 0.29rem;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}